<%- include('partials/header') %>


<div class="jumbotron text-center">
  <div class="container">
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>
<div class="container">
  <div class="main-body">
  
       
  
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4></h4>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.name %>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.username %>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.PhoneNumber
                    %>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Employe ID</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.EmployeeID %>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">State</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.State %>
                  </div>
                </div>
                
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">DBO</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.DateOfBirth %>
                  </div>
                </div>
                
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Pincode</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.Pincode %>
                  </div>
                </div>
                
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Country</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.Country %>
                  </div>
                </div>
                
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Street</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.Street %>
                  </div>
                </div>
                
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">city</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= user.City %>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                   <form action="/register" method="get">
                    <button type="submit" value="" class="btn btn-info"><a style="color: white;" href="/submit">Edit</a></button>
                   </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
<%- include('partials/footer') %>


<%- include('partials/footer') %>
